# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_LUNAZMK_L
	def_bool $(shields_list_contains,lunazmk_L)

config SHIELD_LUNAZMK_R
	def_bool $(shields_list_contains,lunazmk_R)
