if SHIELD_LUNAZMK_LEFT

config ZMK_KEYBOARD_NAME
	default "lunazmk"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_LUNAZMK_RIGHT

config ZMK_KEYBOARD_NAME
	default "lunazmk Right"
	
endif

if SHIELD_LUNAZMK_LEFT || SHIELD_LUNAZMK_RIGHT

config ZMK_SPLIT
	default y
endif
