# Lunazmk Left Shield用設定
if SHIELD_LUNAZMK_LEFT

config ZMK_KEYBOARD_NAME
    default "lunazmk"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

#config ZMK_STUDIO
#    default y

endif # SHIELD_LUNAZMK_LEFT


# Lunazmk LeftまたはRight Shield用設定
if SHIELD_LUNAZMK_LEFT || SHIELD_LUNAZMK_RIGHT

config ZMK_SPLIT
    default y

config I2C
    default y

config ZMK_POINTING
    default y

config AZ1UBALL
    default y

endif # SHIELD_LUNAZMK_LEFT || SHIELD_LUNAZMK_RIGHT

# SHIELD_LUNAZMK_LEFT および SHIELD_LUNAZMK_RIGHT の定義
config SHIELD_LUNAZMK_LEFT
    bool "Lunazmk Left Shield"
    default y

config SHIELD_LUNAZMK_RIGHT
    bool "Lunazmk Right Shield"
    default n
