#include "lunazmk.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>,
                <&gpio1 12 GPIO_ACTIVE_HIGH>,
                <&gpio1 13 GPIO_ACTIVE_HIGH>,
                <&gpio1 14 GPIO_ACTIVE_HIGH>,
                <&gpio1 15 GPIO_ACTIVE_HIGH>,
                <&gpio1 10 GPIO_ACTIVE_HIGH>
                ;
};


&trackball_split {
    status = "disabled";
};

/*
&trackball_input_listener_0 {
    status = "disabled";
};
*/

&trackball_input_listener_1 {
    status = "disabled";
};