#include "lunazmk.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>,
                <&gpio1 12 GPIO_ACTIVE_HIGH>,
                <&gpio1 13 GPIO_ACTIVE_HIGH>,
                <&gpio1 14 GPIO_ACTIVE_HIGH>,
                <&gpio1 15 GPIO_ACTIVE_HIGH>,
                <&gpio1 10 GPIO_ACTIVE_HIGH>
                ;
};


&trackball_split {
    status = "disabled";
};

/*
&trackball_input_listener_0 {
    status = "disabled";
};
*/
/*
&trackball_input_listener_1 {
    status = "disabled";
};
*/

/ {
    aliases {
        led_red = &my_led0;
    };
};

&my_led0 {
    status = "okay";
    gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;  // GPIO番号は実際に接続しているピンに変更してください
    label = "Red LED";
};
