/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "lunazmk.dtsi"

&gpio0 {
    #interrupt-cells = <2>;
    gpio-controller;
};

&kscan0 {
	col-gpios
		= <&gpio0 10 GPIO_ACTIVE_HIGH>   //Col0
		, <&gpio1 15 GPIO_ACTIVE_HIGH>   //Col1
		, <&gpio1 14 GPIO_ACTIVE_HIGH>   //Col2
		, <&gpio1 12 GPIO_ACTIVE_HIGH>   //Col3
		, <&gpio1 13 GPIO_ACTIVE_HIGH>   //Col4
		, <&gpio1 11 GPIO_ACTIVE_HIGH>   //Col5
		;
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    /*az1uball: az1uball@0 {
        compatible = "az1uball";
        reg = <0>;  // I2Cアドレス
        interrupt-parent = <&gpio0>;
        interrupts = <9 0>; // 必要に応じて設定
        /* その他の必要な設定 */
    };*/
    az1uball: az1uball@0 {
        compatible = "aztouch,az1uball";
        reg = <0x0>;
        label = "AZ1UBALL";
        polling = <1>;
        poll-delay-ms = <10>;
        reset-gpios = <&gpio0 10 0>;  // ←これだけ残す（使うなら）
        // interrupts = <&gpio0 10 0>; ←コメントアウト or 削除
    };
};
