/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// defines readable layer index

#define DEFAULT 0
#define layer_1   1
#define layer_2   2
#define layer_3   3
#define layer_4   4
#define layer_5   5
#define layer_6   6

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // DEFAULT LAYER
            // .--------------------------------------------------------------.       .-----------------------------------------------------------.
            // |   ESC        |    Q    |    W   |   E    |    R    |    T    |       |   Y   |    U    |    I    |    O    |     P    |   BKSP   |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |   CTRL/Tab   |    A    |    S   |   D    |    F    |    G    |       |   H   |    J    |    K    |    L    |     ;    |     '    |
            // |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
            // |   SHFT       |    Z    |    X   |   C    |    V    |    B    |       |   N   |    M    |    ,    |    .    |     /    |     NAV  |
            // '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
            //                                   |  GUI   |   RSE   |   SPC   |       |  ENT  |   LWR   |  LALT   |
            //                                   '--------+---------+---------'       '-------+---------+---------'

            bindings = <
&kt ESC        &kp Q  &kp W       &kp E             &kp R            &kp T               &kp Y        &kp U        &kp I          &kp O       &kp P          &kt DEL
&mt LCTRL TAB  &kt A  &kt S       &kt D             &kt F            &kt G               &kt H        &kt J        &kt K          &kt L       &kt SEMICOLON  &kt APOS
&kt LSHFT      &kt Z  &kt X       &kt C             &kt V            &kt B               &kt N        &kt M        &kt COMMA      &kt PERIOD  &kt SLASH      &kt BACKSLASH
                      &kt ESCAPE  &lt 3 LANGUAGE_2  &lt 2 BACKSPACE  &lt 1 LANGUAGE_1    &lt 4 SPACE  &lt 4 ENTER  &kt RIGHT_ALT  &kt RGUI
            >;
        };

        lower_layer {
            // LOWER Layer: Media and Number Pad
            // .--------------------------------------------------------------.    .-----------------------------------------------------------.
            // |              |    F5   |   F8   |   F9   |   F10   |         |    |  / ?  |   7 &   |   8 *   |   9 (   |   - _    |   BKSP   |
            // |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
            // |              |    F4   |   F5   |   F6   |   F11   |         |    |   *   |   4 $   |   5 %   |   6 ^   |   , <    |          |
            // |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
            // |              |    F1   |   F2   |   F3   |   F12   |         |    |  0 )  |   1 !   |   2 @   |   3 #   |   = +    |          |
            // '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
            //                                   |        |         |         |    |       |         |         |
            //                                   '--------+---------+---------'    '-------+---------+---------'

            bindings = <
&trans     &kp SLASH     &kp NUMBER_7            &kp NUMBER_8             &kp NUMBER_9  &kp MINUS       &kp LEFT_ARROW   &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW       &kp UNDERSCORE         &trans
&kt PLUS   &kt ASTERISK  &kt NUMBER_4            &kt NUMBER_5             &kt NUMBER_6  &kt PERIOD      &kt EXCLAMATION  &kt AT_SIGN     &kt HASH      &kt DOLLAR            &kt PERCENT            &trans
&kt EQUAL  &kt ENTER     &kt NUMBER_1            &kt NUMBER_2             &kt NUMBER_3  &kt NUMBER_0    &kt CARET        &kt AMPERSAND   &kt ASTERISK  &kt LEFT_PARENTHESIS  &kt RIGHT_PARENTHESIS  &trans
                         &kt LC(LG(LEFT_ARROW))  &kt LC(LG(RIGHT_ARROW))  &trans        &trans          &trans           &trans
            >;
        };

        layer_2 {
            // RAISE Layer: Special Chars
            // .--------------------------------------------------------------.    .-----------------------------------------------------------.
            // |              |    !    |    @   |   {    |    }    |    |    |    |   *   |    _    |    €    |         |          |          |
            // |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
            // |              |    #    |    $   |   (    |    )    |    `    |    |   +   |    -    |    /    |         |          |          |
            // |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
            // |              |    %    |    ^   |   [    |    ]    |    ~    |    |   &   |    =    |    ,    |         |          |          |
            // '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
            //                                   |        |         |         |    |       |         |         |
            //                                   '--------+---------+---------'    '-------+---------+---------'

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            // NAVIGATION Layer: Directions
            // .--------------------------------------------------------------.    .-----------------------------------------------------------.
            // |              |         |        |        |         |         |    | PG UP | PG HOME |   UP    |  PG END |          |  PrtScn  |
            // |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
            // |     CTRL     |         |        |        |         |         |    | PF DN |  LEFT   |  DOWN   |  RIGHT  |          | CAPS LCK |
            // |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
            // |     SHIFT    |         |        |        |         |         |    |       |         |         |         |          |          |
            // '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
            //                                   |  GUI   |         |   ALT   |    |       |         |         |
            //                                   '--------+---------+---------'    '-------+---------+---------'

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            // ADJUST Layer: Setting and Configurations
            // .------------------------------------------------------------.    .-------------------------------------------------------------.
            // |      0     |  BT 0   |  BT 1  |  BT 2  |  BT 3   |  BT 4   |    |  BT CLR |         |         |         |          |          |
            // |------------+---------+--------+--------+---------+---------|    |---------+---------+---------+---------+----------+----------|
            // | ExtPow ON  |         |        |        |         |         |    |         |         |         |         |          |          |
            // |------------+---------+--------+--------+---------+---------|    |---------+---------+---------+---------+----------+----------|
            // | ExtPow OFF |         |        |        |         |         |    |         |         |         |         |          |          |
            // '-------------------------------+--------+---------+---------+    |---------+---------+---------+-------------------------------'
            //                                 |        |         |         |    |         |         |         |
            //                                 '--------+---------+---------'    '---------+---------+---------'

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
